.giant-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;


}
.container{

    height: 300px;
    width: 300px;
    border: solid;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}
.container:hover{
    background-color: #FF7074;
}
.p-container{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
}
.header{
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}